<?xml version="1.0"?>
<configuration>
  <!--用户角色列表及其登陆后的首页-->
  <roles>
    <role value="0">
      <name value="Admin"></name>
      <content value="管理员"></content>
      <url value="/Admin/Index"></url>
    </role>
    <role value="1">
      <name value="TeamLeader"></name>
      <content value="组长"></content>
      <url value="/TeamLeader/Index"></url>
    </role>
    <role value="2">
      <name value="Member"></name>
      <content value="收集员"></content>
      <url value="/Member/Index"></url>
    </role>
  </roles>
</configuration>
